:host {
  --color-primary: #2B324E;
  --color-secondary: #313E65;
  --color-accent: #5B82BB;
  --color-background: #E3E7EA;
  --color-white: #FFFFFF;
}

ion-content {
  --background: var(--color-background);
}

ion-toolbar {
  --background: var(--color-primary);
  --color: var(--color-white);
}

ion-list {
  background: transparent;
}

ion-item {
  --background: var(--color-white);
  --color: var(--color-primary);

  margin-bottom: 10px;
  border-radius: 12px;
}

ion-text h1 {
  color: var(--color-primary);
  font-size: 24px;
  font-weight: bold;
}

ion-label h2 {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: bold;
}

ion-label h3 {
  color: var(--color-secondary);
  font-size: 16px;
  margin-top: 6px;
}

ion-note {
  color: var(--color-secondary);
}

ion-avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-background);
}

ion-avatar ion-icon {
  color: var(--color-accent);
  font-size: 38px;
}

ion-badge {
  --background: var(--color-accent);
  --color: var(--color-white);

  padding: 7px 10px;
  border-radius: 8px;
}

ion-button {
  --background: var(--color-primary);
  --color: var(--color-white);
  --border-radius: 10px;

  margin-top: 12px;
}

ion-button[fill="outline"] {
  --background: var(--color-white);
  --color: var(--color-primary);
  --border-color: var(--color-primary);
}