<ion-content class="ion-padding">

  <div class="login-container">

    <div class="logo-section">

      <h1>MM</h1>

      <h2>
        Marketing Manager
      </h2>

      <p>
        Accede a tu portal de cliente
      </p>

    </div>


    <ion-card>

      <ion-card-content>

        <ion-item>

          <ion-input
            label="Usuario o correo electrónico"
            labelPlacement="stacked"
            type="text"
            placeholder="Ingresa tu usuario o correo"
            [(ngModel)]="usuario">
          </ion-input>

        </ion-item>


        <ion-item>

          <ion-input
            label="Contraseña"
            labelPlacement="stacked"
            type="password"
            placeholder="Ingresa tu contraseña"
            [(ngModel)]="contrasena">
          </ion-input>

        </ion-item>


        <ion-button
          expand="block"
          (click)="iniciarSesion()">

          Iniciar sesión

        </ion-button>

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>