<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/reportes"></ion-back-button>
    </ion-buttons>

    <ion-title>Reporte de Seguidores</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-list>

    <ion-item lines="none">
      <ion-label>

        <ion-text>
          <h1>Reporte de Seguidores</h1>
        </ion-text>

        <ion-note>
          Consulta el rendimiento de seguidores de tu publicación.
        </ion-note>

      </ion-label>
    </ion-item>


    <ion-item>

      <ion-label>
        <h2>R-0001</h2>
        <h3>Guaymex y tu bienestar diario</h3>

        <ion-note>
          Facebook
        </ion-note>

        <ion-note>
          01/05/2024 - 12/05/2024
        </ion-note>
      </ion-label>

      <ion-badge slot="end">
        Disponible
      </ion-badge>

    </ion-item>


    <ion-item lines="none">
      <ion-label>
        <h2>Seguidores</h2>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-label>Seguidores iniciales</ion-label>
      <ion-note slot="end">12,450</ion-note>
    </ion-item>


    <ion-item>
      <ion-label>Seguidores perdidos</ion-label>
      <ion-note slot="end">120</ion-note>
    </ion-item>


    <ion-item>
      <ion-label>Seguidores que aumentaron</ion-label>
      <ion-note slot="end">540</ion-note>
    </ion-item>


    <ion-item>
      <ion-label>Seguidores finales</ion-label>
      <ion-note slot="end">12,870</ion-note>
    </ion-item>


    <ion-item lines="none">
      <ion-label>
        <h2>Inversión</h2>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-label>Monto invertido</ion-label>
      <ion-note slot="end">$4,500.00</ion-note>
    </ion-item>


    <ion-item>
      <ion-label>Costo por seguidor</ion-label>
      <ion-note slot="end">$8.33</ion-note>
    </ion-item>


    <ion-item lines="none">
      <ion-label>
        <h2>Imagen de la publicación</h2>
      </ion-label>
    </ion-item>


    <ion-card>

      <ion-card-content>

        <ion-text>
          Aquí irá la imagen
        </ion-text>

      </ion-card-content>

    </ion-card>


    <ion-button expand="block">

      Descargar PDF

    </ion-button>

  </ion-list>

</ion-content>